body{
    background-color: #0f0f0f;
    color: white;
    font-family: 'Segon UI',sans-serif;
}

h1,h5{
    text-transform: uppercase;
}

.btn-info{
    font-weight: bold;
}

a{
    text-decoration: none;
}

.navbar-brand{
    font-weight: bold;
    color: cyan;
}

.navbar-brand img{
    height: 200px;
    transition: all 0.3s ease;
}

@media(max-width:991.98px){
    .navbar-brand img{
    height: 150px !important;
    transition: all 0.3s ease;
   }
}

@media(max-width:767.98px){
    .navbar-brand img{
    height: 120px !important;
    transition: all 0.3s ease;
   }
}

@media(max-width:575.98px){
    .navbar-brand img{
    height: 80px !important;
    transition: all 0.3s ease;
   }
}

.nav-link{
    color: white !important;
    font-weight: 500;
    margin-left: 10px;
}

.nav-link:hover{
    color: cyan;
}
.navbar-toggler{
    padding: 0.15em 0.3rem;
}

.description{
    font-size: 1.1rem;
}


.portfolio-section ul{
    padding-left: 1.2rem;
}

.portfolio-section li{
    margin-bottom: 5px;
}


.Portfolio-marg{
    text-align: center;
    margin-top: 100px;
    font-style:sans-sarif ;
}
.navbar-toggler-icon{
    width:1em;
    height: 1em;
}

.card{
    max-width: 1200px;
    background-color: cyan;
    color: white;
    display: flex;

}


.card-custom{
    background-color: #1a1a1a;
    color: white;
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4x 20px rgba(0,0,0,0.3);
}

.card-custom h5{
    font-size: 1.5rem;
    font-weight: bold;
    color:#17d4d4
    
}

.card-custom .carousel-inner img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card-custom .card-body{
    padding: 20px;
}

.card-custom .badge{
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 8px;
}

.card-custom a i{
    font-size: 1.5rem;
    color: white;
    margin-top: 15px;
    display: inline-block;
    transition: color 0.3s;
}

.card-custom a i:hover{
    color:cyan;
}

.badge{
    font-size:18px;
    padding: 10px 14px;
}


.flex-row{
    display: flex;
    justify-content: space-between;
}

.education-box{
    text-align: right;
    margin-top: 25px;
}

h5{
    font-size: 26px;
    margin-top: 30px;
}


.about-section,.skill-section,.portfolio-section{
    padding: 60px;
}

.about-section h2,.skill-section h2,.portfolio-section h2{
    color:cyan;
}

.portfolio-marg{
    margin-top: 100px;
    text-align: center;
    font-family: serif;
}

.card-text{
    color:rgb(212, 212, 207)
}


.contact01{
    margin-top: 80px;
    text-align: center;
    font-family: monospace;
    color: white;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;

}

.contact-container{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

.form-box{
    border:1px solid white;
    display: inline-block;
    padding: 30px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    width: 350px;
    background-color: rgba(15,15,15,0.8);

}

.form-box input,
.form-box textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    margin: 15px 0;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 15px;
}

.form-box input ::placeholder,
.form-box textarea ::placeholder{
    color: lightgray;

}

.form-box button{
    background-color: rgb(10, 140, 226);
    border: 1px solid cyan;
    color: rgb(194, 211, 211);
    font-size: 16px;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}
.form-box button:hover{
    background-color: rgba(0,255,255,0.1);
}

.display-4{
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;

}


.text-info{
    color: cyan;
}

h5{
    font-weight: 600;
    letter-spacing:0.5px;
    

}

p.fs-5{
    font-size: 1.1rem;
    max-width: 600px;

}

.social-icon{
    margin: 1.5rem;
}

.social-icon a{
    display: inline-block;
    margin-right: 15px;
    font-size: 1.5rem;
    color: cyan;
    transition: all 0.3s ease;
}

.social-icon a:hover{
    color: cyan;
    transform: translateY(-3px);
}

.img-fluid.rounded:hover{
    transform: scale(1.02);
}

footer{
    font-family: 'Segoe UI',sans-serif;
    color: white ;
    margin-top: 80px;
    text-align: center;
    padding: 80px;
    line-height: 1.6;
    background-color: #1a1a1a;

}

footer a{
    color: cyan;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-right:20px;
    font-size:20px;
    transform: scale(1.02);
    transform: translateY(-3px);
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

footer .fg-lg:hover{
    transform: scale(1.2);
    color: white;
}

.text-muted{
    color: #6c757d;
    font-style: italic;
}



.carousel-container{
    height: 350px;
    overflow: hidden;

}

.carousel-container .carousel-inner-img{
    object-fit: cover;
    object-position: center center;
    height: 350px;
    width: 100%;
}

.d-flex.justify-content-center{
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;

}

.card{
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    background-color: cyan;
    border-radius: 15px;
    overflow: hidden;
}

@media (max-width:767.98){
    .card{
        flex-direction: column;
    }
    
}

@media (min-width:767.98) and (max-width:991.98){
    .card{
        max-width: 100%;
    }
    .card-custom{
        width: 80px;
        margin: 20px auto;
    }

    .col-md-6{
        width: 45%;
        padding: 0 10px;

    }

    .carousel-inner{
        min-height: 250px;
    }

    .carousel-item img{
        object-fit: contain;
        height: auto;
        max-height: 250;
    }

    .card-body{
        padding: 20px !important;
    }
    
}


@media (min-width:991.99){
    .card{
        flex-direction: row;
    }

    .col-md-6{
        width: 50%;
    }
}


.card-body{
    padding: 30px;
}

.card-title{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.card-text{
    margin-bottom: 15px;
    line-break: 1.6;
}

.badge{
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 0.9rem;
    padding: 8px 12px;
}

.bi-github{
    font-size: 1.5rem;
    margin-top: 15px;
    display: inline-block;
}

